GO
/****** Object:  Table [dbo].[admin]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[creationDate] [datetime] NOT NULL CONSTRAINT [DF__admin__creationD__117F9D94]  DEFAULT (getdate()),
	[updationDate] [datetime] NULL,
	[FullName] [nvarchar](100) NULL,
	[Avatar] [nvarchar](255) NULL,
	[Roles] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NOT NULL CONSTRAINT [DF__admin__Status__4316F928]  DEFAULT ('Ho?t đ?ng'),
 CONSTRAINT [PK__admin__3213E83F0895FBAE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[banner]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adminId] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[imageUrl] [nvarchar](500) NOT NULL,
	[status] [bit] NOT NULL CONSTRAINT [DF__banner__status__6FE99F9F]  DEFAULT ('Active'),
	[creationDate] [datetime] NOT NULL CONSTRAINT [DF__banner__creation__70DDC3D8]  DEFAULT (getdate()),
	[updationDate] [datetime] NULL,
	[position] [int] NULL,
 CONSTRAINT [PK__banner__3213E83F1F446D93] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cartitems]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cartitems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[productid] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[addeddate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[category]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adminId] [int] NOT NULL,
	[categoryName] [nvarchar](255) NOT NULL,
	[creationDate] [datetime] NOT NULL DEFAULT (getdate()),
	[updationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[orderDate] [datetime] NOT NULL DEFAULT (getdate()),
	[paymentMethod] [nvarchar](50) NOT NULL,
	[orderStatus] [nvarchar](55) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[city] [nvarchar](255) NOT NULL,
	[district] [nvarchar](255) NOT NULL,
	[ward] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ordertrackhistory]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordertrackhistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[status] [nvarchar](255) NOT NULL,
	[remark] [nvarchar](max) NULL,
	[postingDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adminId] [int] NOT NULL,
	[category] [int] NOT NULL,
	[subCategory] [int] NULL,
	[productName] [nvarchar](255) NOT NULL,
	[productPrice] [decimal](15, 2) NOT NULL,
	[productPriceBeforeDiscount] [decimal](15, 2) NULL,
	[productDescription] [nvarchar](max) NULL,
	[productImage1] [nvarchar](255) NULL,
	[productImage2] [nvarchar](255) NULL,
	[productImage3] [nvarchar](255) NULL,
	[shippingCharge] [int] NOT NULL,
	[postingDate] [datetime] NOT NULL CONSTRAINT [DF__product__postin__239E4DCF]  DEFAULT (getdate()),
	[updationDate] [datetime] NULL,
	[brand] [nvarchar](100) NULL,
	[cpu] [nvarchar](255) NULL,
	[ram] [nvarchar](255) NULL,
	[storage] [nvarchar](255) NULL,
	[gpu] [nvarchar](255) NULL,
	[promotion] [nvarchar](255) NULL,
	[VGA] [nvarchar](255) NULL,
	[size] [nvarchar](255) NULL,
	[weight] [nvarchar](255) NULL,
	[pin] [nvarchar](255) NULL,
	[bonus] [nvarchar](255) NULL,
	[quantity] [int] NOT NULL,
	[Slug] [nvarchar](255) NOT NULL DEFAULT (''),
 CONSTRAINT [PK__product__3213E83FD1F03240] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[productreviews]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productreviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NOT NULL,
	[summary] [nvarchar](255) NULL,
	[review] [nvarchar](max) NULL,
	[reviewDate] [datetime] NOT NULL DEFAULT (getdate()),
	[rating] [int] NOT NULL,
	[userid] [nvarchar](255) NULL,
	[username] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[subcategory]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subcategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoryid] [int] NOT NULL,
	[SubCategoryName] [nvarchar](255) NOT NULL,
	[creationDate] [datetime] NOT NULL DEFAULT (getdate()),
	[updationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[contactno] [nvarchar](20) NULL,
	[password] [nvarchar](255) NOT NULL,
	[regDate] [datetime] NOT NULL DEFAULT (getdate()),
	[updationDate] [datetime] NULL,
	[city] [nvarchar](255) NULL,
	[district] [nvarchar](255) NULL,
	[ward] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 7/7/2025 12:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[postingDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([id], [username], [password], [creationDate], [updationDate], [FullName], [Avatar], [Roles], [Status]) VALUES (2, N'admin', N'827ccb0eea8a706c4c34a16891f84e7b', CAST(N'2025-02-26 21:18:23.690' AS DateTime), CAST(N'2025-06-19 20:24:39.753' AS DateTime), N'Nguyễn Phi Hùng', N'/avatar/48186b04-a123-41fb-b45e-682f7cec6923.jpg', N'Admin', N'Hoạt động')
SET IDENTITY_INSERT [dbo].[admin] OFF
SET IDENTITY_INSERT [dbo].[banner] ON 

INSERT [dbo].[banner] ([id], [adminId], [title], [imageUrl], [status], [creationDate], [updationDate], [position]) VALUES (68, 2, N'Banner2', N'/uploads/banner/be40ea2c-f4a3-408b-bc9b-31c18099cda5_snapedit_1742834806685.jpeg', 1, CAST(N'2025-03-24 23:51:58.103' AS DateTime), CAST(N'2025-06-22 16:37:39.440' AS DateTime), 3)
INSERT [dbo].[banner] ([id], [adminId], [title], [imageUrl], [status], [creationDate], [updationDate], [position]) VALUES (69, 2, N'Banner3', N'/uploads/banner/3c6e3a79-1c11-4e5f-af2a-1df5b0b80b99_snapedit_1742834828592.jpeg', 0, CAST(N'2025-03-24 23:52:23.630' AS DateTime), CAST(N'2025-06-29 23:23:19.913' AS DateTime), 1)
INSERT [dbo].[banner] ([id], [adminId], [title], [imageUrl], [status], [creationDate], [updationDate], [position]) VALUES (77, 2, N'Banner1', N'/uploads/banner/f3803f78-d965-4210-8cce-2367d76f126c_snapedit_1742834773018.jpeg', 1, CAST(N'2025-03-25 23:53:38.853' AS DateTime), CAST(N'2025-04-06 16:46:50.567' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[banner] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [adminId], [categoryName],  [creationDate], [updationDate]) VALUES (1, 2, N'Điện thoại',  CAST(N'2025-02-26 21:20:19.623' AS DateTime), CAST(N'2025-02-28 16:22:45.117' AS DateTime))
INSERT [dbo].[category] ([id], [adminId], [categoryName],  [creationDate], [updationDate]) VALUES (2, 2, N'Laptop', CAST(N'2025-02-27 13:59:53.097' AS DateTime), CAST(N'2025-02-28 15:16:02.290' AS DateTime))
INSERT [dbo].[category] ([id], [adminId], [categoryName],  [creationDate], [updationDate]) VALUES (4, 2, N'Tai nghe',  CAST(N'2025-02-27 14:00:20.223' AS DateTime), CAST(N'2025-03-24 16:39:05.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [userId], [productId], [quantity], [orderDate], [paymentMethod], [orderStatus], [TotalPrice], [city], [district], [ward], [address]) VALUES (1, 6, 45, 1, CAST(N'2025-03-25 09:18:06.693' AS DateTime), N'COD', N'Cancelled', CAST(35190000.00 AS Decimal(18, 2)), N'COD', N'COD', N'COD', N'COD')
INSERT [dbo].[order] ([id], [userId], [productId], [quantity], [orderDate], [paymentMethod], [orderStatus], [TotalPrice], [city], [district], [ward], [address]) VALUES (2, 6, 45, 1, CAST(N'2025-03-25 09:19:42.860' AS DateTime), N'Online', N'Cancelled', CAST(35190000.00 AS Decimal(18, 2)), N'COD', N'COD', N'COD', N'COD')
INSERT [dbo].[order] ([id], [userId], [productId], [quantity], [orderDate], [paymentMethod], [orderStatus], [TotalPrice], [city], [district], [ward], [address]) VALUES (3, 6, 42, 1, CAST(N'2025-03-25 09:49:12.273' AS DateTime), N'COD', N'Cancelled', CAST(34990000.00 AS Decimal(18, 2)), N'COD', N'COD', N'COD', N'COD')
SET IDENTITY_INSERT [dbo].[order] OFF
SET IDENTITY_INSERT [dbo].[product] ON 



SET IDENTITY_INSERT [dbo].[product] OFF
SET IDENTITY_INSERT [dbo].[productreviews] ON 
SET IDENTITY_INSERT [dbo].[productreviews] ON 

INSERT [dbo].[productreviews] ([id], [productId], [summary], [review], [reviewDate], [rating], [userid], [username], [email]) VALUES (5, 39, NULL, N'ok', CAST(N'2025-03-24 12:58:51.577' AS DateTime), 5, N'6', N'Quý Đoàn', N'doanquy610@gmail.com')
INSERT [dbo].[productreviews] ([id], [productId], [summary], [review], [reviewDate], [rating], [userid], [username], [email]) VALUES (6, 39, NULL, N'Tôi thấy khá ổn đó vì nó  rẻ so với hiệu năng nó mang lại', CAST(N'2025-03-24 12:59:37.960' AS DateTime), 5, N'6', N'Quý Đoàn', N'doanquy610@gmail.com')
INSERT [dbo].[productreviews] ([id], [productId], [summary], [review], [reviewDate], [rating], [userid], [username], [email]) VALUES (7, 39, NULL, N'tệ', CAST(N'2025-03-24 13:09:01.110' AS DateTime), 1, N'6', N'Quý Đoàn', N'doanquy610@gmail.com')
SET IDENTITY_INSERT [dbo].[productreviews] OFF
SET IDENTITY_INSERT [dbo].[subcategory] ON 

INSERT [dbo].[subcategory] ([id], [categoryid], [SubCategoryName], [creationDate], [updationDate]) VALUES (3, 1, N'MacBook Pro', CAST(N'2025-03-01 21:30:01.003' AS DateTime), CAST(N'2025-03-26 20:31:59.387' AS DateTime))
INSERT [dbo].[subcategory] ([id], [categoryid], [SubCategoryName], [creationDate], [updationDate]) VALUES (5, 1, N'MacBook Air', CAST(N'2025-03-02 13:01:14.887' AS DateTime), NULL)
INSERT [dbo].[subcategory] ([id], [categoryid], [SubCategoryName], [creationDate], [updationDate]) VALUES (6, 2, N'Asus Vivobook', CAST(N'2025-03-02 13:01:48.220' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[subcategory] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email], [contactno], [password], [regDate], [updationDate], [address], [city], ward, district
) VALUES (6, N'Nguyễn Phi Hùng', N'ngyenphihung422001@gmail.com', N'865510677', N'827ccb0eea8a706c4c34a16891f84e7b', CAST(N'2025-03-18 10:13:59.120' AS DateTime), CAST(N'2025-06-29 16:25:05.637' AS DateTime), NULL , NULL , NULL  , NULL)
INSERT [dbo].[users] ([id], [name], [email], [contactno], [password], [regDate], [updationDate], [address], [city], ward, district) VALUES (24, N'Trần Quốc Việt', N'viet123@gmail.com', N'348402998', N'827ccb0eea8a706c4c34a16891f84e7b', CAST(N'2025-03-25 05:18:40.510' AS DateTime), NULL , NULL , NULL , NULL, NULL )
INSERT [dbo].[users] ([id], [name], [email], [contactno], [password], [regDate], [updationDate],  [address], [city], ward, district) VALUES (30, N'Trần A', N'quy123@gmail.com', N'0984446778', N'827ccb0eea8a706c4c34a16891f84e7b', CAST(N'2025-03-26 13:21:51.917' AS DateTime), CAST(N'2025-03-26 13:28:07.573' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__admin__F3DBC572191B22D2]    Script Date: 7/7/2025 12:23:03 AM ******/
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [UQ__admin__F3DBC572191B22D2] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__category__37077ABDA2C436E0]    Script Date: 7/7/2025 12:23:03 AM ******/
ALTER TABLE [dbo].[category] ADD UNIQUE NONCLUSTERED 
(
	[categoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__users__AB6E6164687798CE]    Script Date: 7/7/2025 12:23:03 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cartitems] ADD  DEFAULT (getdate()) FOR [addeddate]
GO
ALTER TABLE [dbo].[ordertrackhistory] ADD  DEFAULT (getdate()) FOR [postingDate]
GO
ALTER TABLE [dbo].[wishlist] ADD  DEFAULT (getdate()) FOR [postingDate]
GO
ALTER TABLE [dbo].[banner]  WITH CHECK ADD  CONSTRAINT [FK_banner_admin] FOREIGN KEY([adminId])
REFERENCES [dbo].[admin] ([id])
GO
ALTER TABLE [dbo].[banner] CHECK CONSTRAINT [FK_banner_admin]
GO
ALTER TABLE [dbo].[cartitems]  WITH CHECK ADD FOREIGN KEY([productid])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[cartitems]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [FK_category_admin] FOREIGN KEY([adminId])
REFERENCES [dbo].[admin] ([id])
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [FK_category_admin]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_orders_product] FOREIGN KEY([productId])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_orders_product]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[ordertrackhistory]  WITH CHECK ADD  CONSTRAINT [FK_ordertrackhistory_orders] FOREIGN KEY([orderId])
REFERENCES [dbo].[order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ordertrackhistory] CHECK CONSTRAINT [FK_ordertrackhistory_orders]
GO
ALTER TABLE [dbo].[productreviews]  WITH CHECK ADD  CONSTRAINT [FK_productreviews_product] FOREIGN KEY([productId])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[productreviews] CHECK CONSTRAINT [FK_productreviews_product]
GO
ALTER TABLE [dbo].[subcategory]  WITH CHECK ADD  CONSTRAINT [FK_subcategory_category] FOREIGN KEY([categoryid])
REFERENCES [dbo].[category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[subcategory] CHECK CONSTRAINT [FK_subcategory_category]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FK_wishlist_product] FOREIGN KEY([productId])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [FK_wishlist_product]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FK_wishlist_users] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [FK_wishlist_users]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [CK__product__produc__20C1E124] CHECK  (([productPrice]>=(0)))
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [CK__product__produc__20C1E124]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [CK__product__produc__21B6055D] CHECK  (([productPriceBeforeDiscount]>=(0)))
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [CK__product__produc__21B6055D]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [CK__product__shippi__22AA2996] CHECK  (([shippingCharge]>=(0)))
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [CK__product__shippi__22AA2996]
GO
ALTER TABLE [dbo].[productreviews]  WITH CHECK ADD  CONSTRAINT [CHK_productreviews_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[productreviews] CHECK CONSTRAINT [CHK_productreviews_rating]
GO

GO
ALTER TABLE [product]
ADD CONSTRAINT CK_product_Quantity_NonNegative
CHECK (quantity >= 0);
GO